body {
  align-items: center;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: space-evenly;
}

header h1 {
  color: rgb(2, 90, 78);
  font-size: 42pt;
}

button {
  background-color: rgb(2, 90, 78);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 0 20px;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content img {
  width: 100%;
}

.content .card {
  top: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 100px 100px;
  padding-bottom: 40px;
  position: absolute;
  width: 600px;
}

.card .action {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  padding-bottom: 0px;
}

.content .invite {
  color: white;
  font-size: x-large;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
}

.content .attribution {
  bottom: 5px;
  margin: 0;
  position: absolute;
  text-align: center;
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}